apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-pdva
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/pmacik-testing/ci10t-777-0062-tenant/ci10t-777-0062-app/devfile-sample-pdva@sha256:79f63cfc0ae56426cda4d8fabec8ea2f64caf3697705700541751f0402bfd77f
        name: my-nodejs
        resources: {}
status: {}
